body {
  padding: 0;
  margin: 0;
  font-family: "Lato";
}

* {
  margin: 0;
}

.top,
.bottom {
  margin: auto;
  padding: 5rem 0;

  @media screen and (min-width: 768px) {
    padding: 5rem 20vw;
  }
  @media screen and (min-width: 1024px) {
    padding: 5rem 30vw;
  }
}

.top {
  background-color: #ffffff;
  display: grid;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    padding: 5rem 2rem;
  }
}

.highlight {
  color: green;
  font-weight: 900;
}
.bottom {
  /* position: relative; */
  border-top: solid 8px #c0c0c042;
  background-color: #666666;
}

.bottom__text {
  padding: 0.5rem 2rem 3rem;
  font-size: 20px;
  background-color: white;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}

.bottom__heading {
  transform: translateX(-50px);
  padding: 1rem;
  text-align: center;
  background-color: #ffbf00;
  border-bottom: 8px solid #cc9900;
  color: black;
  white-space: nowrap;
  font-weight: 900;
  font-size: 24px;
}
